<nav>
    <a class="btn btn-default navbar-btn" href="{{ path('crm_account_add') }}"><span class="glyphicon glyphicon-plus"></span> Ajouter</a>
    <a class="btn btn-default navbar-btn" href="#"><span class="glyphicon glyphicon-import"></span> Importer</a>
    <a class="btn btn-default navbar-btn" href="#"><span class="glyphicon glyphicon-export"></span> Exporter</a>
</nav>