{% extends "CRMCustomerBundle::layout.html.twig" %}

{% block title %}{{ account.name }} - {{ parent() }}{% endblock %}

{% block accountbody %}    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ account.name }}</h3>
        </div>
        <table class="table table-striped table-hover table-bordered table-condensed">

        </table>
    </div>
{% endblock %}