{% extends "CRMCoreBundle::layout.html.twig" %}

{% block title %}Accueil {{ parent() }}{% endblock %}

{% block body %}
    <p>Bonjour {{ app.user.username }} - {{ app.user.email }}</p>
{% endblock %}